.app{
	padding: 20px;
	margin: 20px;
}


.header {
 display: flex;
 flex-wrap: wrap;
 justify-content:space-between;
 border: 3px solid black;
}
.nav-items>ul{
	display: flex;
	font-size: 24px;
   }
.nav-items>ul>li {
  padding:10px;
  margin:10px;
}
.search-box{
	border-radius: 0.4cm;
	width: 400px;
	height: 30px;
	padding: 10px;
	margin: 10px;
}
.search-button{
	width: 100px;
	height: 30px;
	padding: 5px;
	margin: 4px;
	border-radius: 10px;
	
	justify-content: flex-start;
}
.search-button:hover{
	background-color: orange;
	cursor: pointer;
	transform: scale(0.95) translateX(5px) translateY(-1px); 
}
.logo{
	
	width: 140px;
	height: 100%;
}

.restaurent-card{
	
	border: 1px solid white;
	margin:7px;
	
	width: 250px;

	border-radius:0.4cm;
	
}

.restaurent-card:hover{
  cursor:pointer;
  
	transform: scale(0.95) translateX(5px) translateY(-1px); 
	
	
  }
  h3{
	margin:0px;
  }
  h4{
	margin:0px;
	display:flex;
  }
.RC-image{
	width: 250px;
	height:249px;
	border-radius:0.4cm;
	margin-bottom:0px;
 padding:0px;
}
.RC-name{
	text-align:left;
	
	
	font-size: 21px;
	font-family: Gilroy;
    font-weight: 800;
}

.RC-info{
 margin:0px;
 padding:0px;
}
.restaurent-conatiner{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	
}
.star-image{
	width:16px;
	height:16px;
}
.cuisine{
	color: rgba(2, 2, 2, 0.6);
	
}
.Shimmer-divRcontainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}
.Shimmer-div-RC{
	
	border: 1px solid  white;
	margin:7px;
	
	width: 250px;
	height:349px;

	border-radius:0.4cm;
}
.Shimmer-div-RC-image{
	width: 250px;
	height:249px;
	border-radius:0.4cm;
	margin-bottom:0px;
 padding:0px;
 background-color: rgba(209, 206, 206, 0.621);
}
.fa-solid fa-magnifying-glass{
	margin: 0px;
	padding: 0px;
}
.filtering{
	display: flex;
	flex-wrap: wrap;
	margin:6px ;
	padding:6px ;
}
.filter{
	margin:5px ;
	padding:5px ;
}
.filter-btn{
	height:45px;
	border-radius: 15px;
}
.filter-btn:hover{
	background-color: red;
	cursor: pointer;
	transform: scale(0.95) translateX(5px) translateY(-1px); 
}
.Link-RC{
	text-decoration: none;
  color: inherit;
}
.Toggle-div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin:40px ;
	background-color: silver;
}
.Toggle-div:hover{
	cursor: pointer;
}
.Toggle{
	margin:40px ;
	background-color: silver;
}
.catg{
	background-color: silver;
    margin:40px ;
	justify-content: space-between;
	align-items: center;
}
.catg-heading{
	margin: 40px;
	padding: 15px;
	
}
.login-form{
	
	max-width: 400px;
	margin: 100px auto; 
	padding: 20px; 
	border: 1px solid #ccc; 
	border-radius: 8px; 
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
	background-color: white; 
}

label {
	display: block; 
	margin-bottom: 5px; 
	font-weight: bold; 
  }
  
  input {
	width: 100%; 
	padding: 10px;
	border: 1px solid #ccc; 
	border-radius: 4px; 
	color: rgba(0, 0, 0, 0.445);
  }
  
  button {
	padding: 10px 15px; 
	width: 100%; 
	background-color: #007bff; 
	color: white; 
	border: none; 
	border-radius: 4px;
	cursor: pointer; 
	font-size: 16px; 
  }
  
  button:hover {
	background-color: #0056b3; 
  }
  .lf-item{
	margin: 20px;
  }