.app{
	padding: 10px;
	margin: 10px;
}


.header {
 display: flex;
 justify-content:space-between;
 border: 3px solid black;
}
.nav-items>ul{
	display: flex;
	font-size: 24px;
   }
.nav-items>ul>li {
  padding:10px;
  margin:10px;
}
.search-box{
	border-radius: 0.4cm;
	width: 400px;
	height: 30px;
	padding: 10px;
	margin: 10px;
}
.search-button{
	background-color: aquamarine;
	width: 100px;
	height: 30px;
	padding: 5px;
	margin: 10px;
}
.logo{
	
	width: 100px;
	height: 100px;
}

.restaurent-card{
	
	border: 1px solid wheat;
	margin:5px;
	
	width: 340px;
	height: 480px;
	border-radius:0.4cm;
	
}

.restaurent-card:hover{
  cursor:pointer;
  
	transform: scale(0.95) translateX(5px) translateY(0px); 
	
	
  }

.RC-image{
	width: 340px;
	height:289px;
	border-radius:0.4cm;
}
.RC-name{
	text-align:left;
	padding:1px;
	margin:1px;
	
	font-size: 21px;
	font-family: Gilroy;
    font-weight: 800;
}

.RC-info{
 
 padding:0px;
}
.restaurent-conatiner{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}